# Make sure metadata is always enabled
# Edit -> Project Settings -> Editor -> Mode

# OS X only (not needed on other platforms)
.DS_Store
*.swp
*.Trashes

# All platforms
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

# Builds
*.apk